<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--For home page-->
    <filter>
        <filter-name>RoleFilterTQAT</filter-name>
        <filter-class>filter.RoleFilterTQAT</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilterTQAT</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>homeRooms</servlet-name>
        <servlet-class>controller.homeRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeCategory</servlet-name>
        <servlet-class>controller.homeCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadRoomsHome</servlet-name>
        <servlet-class>controller.loadRoomsHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterRoomsHome</servlet-name>
        <servlet-class>controller.filterRoomsHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verification</servlet-name>
        <servlet-class>controller.Verification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>controller.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NhaTroServlet</servlet-name>
        <servlet-class>controller.NhaTroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRoomExcel</servlet-name>
        <servlet-class>controller.addRoomExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadNhaTroByManager</servlet-name>
        <servlet-class>controller.LoadNhaTroByManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDashboardByRole</servlet-name>
        <servlet-class>controller.LoadDashboardByRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadHoaDonNhaTro</servlet-name>
        <servlet-class>controller.loadHoaDonNhaTro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>controller.profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionHoaDon</servlet-name>
        <servlet-class>controller.actionHoaDon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHoaDonByDate</servlet-name>
        <servlet-class>controller.LoadHoaDonByDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadHoaDonByRoom</servlet-name>
        <servlet-class>controller.loadHoaDonByRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadHoaDonForm</servlet-name>
        <servlet-class>controller.loadHoaDonForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadTransaction</servlet-name>
        <servlet-class>controller.loadTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actionTransaction</servlet-name>
        <servlet-class>controller.actionTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadThietBi</servlet-name>
        <servlet-class>controller.loadThietBi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addThietBi</servlet-name>
        <servlet-class>controller.addThietBi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editThietBi</servlet-name>
        <servlet-class>controller.editThietBi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importRoomExcel</servlet-name>
        <servlet-class>controller.importRoomExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addThietBiToRoom</servlet-name>
        <servlet-class>controller.addThietBiToRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteThietBiFromRoom</servlet-name>
        <servlet-class>controller.deleteThietBiFromRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateThietBiInRoom</servlet-name>
        <servlet-class>controller.updateThietBiInRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPhongTro</servlet-name>
        <servlet-class>controller.loadPhongTro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddConTractController</servlet-name>
        <servlet-class>controller.AddConTractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKyDichVuPhongTroController</servlet-name>
        <servlet-class>controller.DangKyDichVuPhongTroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HopDongThueTroController</servlet-name>
        <servlet-class>controller.HopDongThueTroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuiHopDongChoChuTroController</servlet-name>
        <servlet-class>controller.GuiHopDongChoChuTroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachCacHopDongByAdminController</servlet-name>
        <servlet-class>controller.DanhSachCacHopDongByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietHopDongByAdminController</servlet-name>
        <servlet-class>controller.ChiTietHopDongByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachCacHopDongByManagerController</servlet-name>
        <servlet-class>controller.DanhSachCacHopDongByManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietHopDongByManagerController</servlet-name>
        <servlet-class>controller.ChiTietHopDongByManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiaHanHopDongByManagerController</servlet-name>
        <servlet-class>controller.GiaHanHopDongByManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactUs</servlet-name>
        <servlet-class>controller.contactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lienhe</servlet-name>
        <servlet-class>controller.lienhe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFastInvoices</servlet-name>
        <servlet-class>controller.addFastInvoices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarByManagerController</servlet-name>
        <servlet-class>controller.CalendarByManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhSachPhongTroCalenderController</servlet-name>
        <servlet-class>controller.DanhSachPhongTroCalenderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackController</servlet-name>
        <servlet-class>controller.FeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadLikedRooms</servlet-name>
        <servlet-class>controller.LoadLikedRooms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeRooms</servlet-name>
        <url-pattern>/homer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeCategory</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <!--    For Rooms manegement in DashBoard -->
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>controller.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRoomServlet</servlet-name>
        <servlet-class>controller.EditRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>controller.RoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteRoomServlet</servlet-name>
        <servlet-class>controller.deleteRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailRoomServlet</servlet-name>
        <servlet-class>controller.detailRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRoomByName</servlet-name>
        <servlet-class>controller.searchRoomByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountControllerServlet</servlet-name>
        <servlet-class>controller.AccountControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/insertRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRoomServlet</servlet-name>
        <url-pattern>/editRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteRoomServlet</servlet-name>
        <url-pattern>/deleteRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailRoomServlet</servlet-name>
        <url-pattern>/detailRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadRoomsHome</servlet-name>
        <url-pattern>/allrooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterRoomsHome</servlet-name>
        <url-pattern>/filterrooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRoomByName</servlet-name>
        <url-pattern>/searchRoomByName</url-pattern>
    </servlet-mapping>
    <!--For Dich vu in Dashboard-->
    <servlet>
        <servlet-name>actionDichvu</servlet-name>
        <servlet-class>controller.actionDichvu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDichVu</servlet-name>
        <servlet-class>controller.addDichVu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadDichVu</servlet-name>
        <servlet-class>controller.loadDichVu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>actionDichvu</servlet-name>
        <url-pattern>/action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDichVu</servlet-name>
        <url-pattern>/adddichvu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadDichVu</servlet-name>
        <url-pattern>/loaddichvu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountControllerServlet</servlet-name>
        <url-pattern>/accountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/resetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/logingoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verification</servlet-name>
        <url-pattern>/verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/sendemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhaTroServlet</servlet-name>
        <url-pattern>/nhatro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRoomExcel</servlet-name>
        <url-pattern>/addRoomExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadNhaTroByManager</servlet-name>
        <url-pattern>/loadnhatrobymanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDashboardByRole</servlet-name>
        <url-pattern>/loaddashboardbyrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadHoaDonNhaTro</servlet-name>
        <url-pattern>/hoadon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionHoaDon</servlet-name>
        <url-pattern>/actionhoadon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHoaDonByDate</servlet-name>
        <url-pattern>/hoadontheongay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadHoaDonByRoom</servlet-name>
        <url-pattern>/hoadonroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadHoaDonForm</servlet-name>
        <url-pattern>/loadHoaDonForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadTransaction</servlet-name>
        <url-pattern>/loadTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actionTransaction</servlet-name>
        <url-pattern>/actionTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadThietBi</servlet-name>
        <url-pattern>/loadThietBi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addThietBi</servlet-name>
        <url-pattern>/addThietBi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editThietBi</servlet-name>
        <url-pattern>/editThietBi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importRoomExcel</servlet-name>
        <url-pattern>/importRoomExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addThietBiToRoom</servlet-name>
        <url-pattern>/addThietBiToRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteThietBiFromRoom</servlet-name>
        <url-pattern>/deleteThietBiFromRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateThietBiInRoom</servlet-name>
        <url-pattern>/updateThietBiInRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPhongTro</servlet-name>
        <url-pattern>/loadPhongTro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddConTractController</servlet-name>
        <url-pattern>/addContract</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKyDichVuPhongTroController</servlet-name>
        <url-pattern>/DangKyDichVuPhongTro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HopDongThueTroController</servlet-name>
        <url-pattern>/HopDongThueTro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuiHopDongChoChuTroController</servlet-name>
        <url-pattern>/GuiHopDongChoChuTro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachCacHopDongByAdminController</servlet-name>
        <url-pattern>/DanhSachCacHopDongByAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietHopDongByAdminController</servlet-name>
        <url-pattern>/ChiTietHopDongByAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachCacHopDongByManagerController</servlet-name>
        <url-pattern>/DanhSachCacHopDongByManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietHopDongByManagerController</servlet-name>
        <url-pattern>/ChiTietHopDongByManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiaHanHopDongByManagerController</servlet-name>
        <url-pattern>/GiaHanHopDongByManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactUs</servlet-name>
        <url-pattern>/thongtinlienhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lienhe</servlet-name>
        <url-pattern>/lienhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFastInvoices</servlet-name>
        <url-pattern>/addfastinvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarByManagerController</servlet-name>
        <url-pattern>/CalendarByManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhSachPhongTroCalenderController</servlet-name>
        <url-pattern>/DanhSachPhongTroCalender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackController</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadLikedRooms</servlet-name>
        <url-pattern>/LoadLikedRooms</url-pattern>
    </servlet-mapping>
</web-app>
