body {
    font-family: Plus Jakarta Sans, sans-serif;
    background: linear-gradient(to bottom, #F6F5FF, #FFFFFF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.container {
    width: 500px;
    height: 65vh;
    padding: 20px 30px;
    text-align: center;
}

h2 {
    color: #6E00FF;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #000;
    box-shadow: none;
}

button:hover {
    background-color: #E0E0E0;
}

button.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

button img {
    margin-right: 10px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 30px;
    border: 1px solid #CCCCCC;
    background-color: #F6F5FF;
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
    border: 1px solid #6E00FF;
}


button.login {
    background-color: #6E00FF;
    color: #FFFFFF;
    border: none;
}

button.login:hover {
    background-color: #5C00CC;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

label a {
    color: #6E00FF;
    text-decoration: none;
}

label a:hover {
    text-decoration: underline;
}

footer {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

footer a {
    color: #6E00FF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

